body {
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.container{
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50px auto auto 50px;
    grid-gap: 50px;
    grid-template-areas:
        ". header ."
        ". main ."
        ". footer .";
}

