.container {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 500px 200px 1fr;
    grid-gap: 20px;
}

.header {
    grid-column: 1 / -1;
    justify-items: center;
}

.promo {
    grid-column: 1 / -1;
    justify-items: center;
}

.footer {
    grid-column: 1 / -1;
    justify-items: center;
}
