.item {
    display: grid;
    border-radius: 3px;
    justify-items: center;
}

.item p {
    margin: 0 0 5px 0;
}

.purchase {
    justify-items: left;
}

.content {
    display:grid;
}

.content p {
    justify-self: left;
}

.content ul {
    justify-self: left;
}

.product_image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}